<div class="d-flex flex-column vh-100">
  <header class="flex-grow-0">
    <app-navbar></app-navbar>
  </header>
  <main class="flex-grow-1">
    <section
      class="wrapper d-flex justify-content-center bg-body flex-column p-3 align-items-center"
    >
      @if(redirect===false){
      <div class="card p-5 rounded-4 shadow border-0 bg-light">
        <h4 class="title text-uppercase text-center">Restablecer Contraseña</h4>

        <form
          [formGroup]="passFrom"
          (ngSubmit)="passwordForm()"
          class="mt-4 d-flex flex-column align-items-center"
        >
          <!-- Contraseña -->
          <div class="w-auto">
            <div class="my-2">
              <label class="form-label" for="password">Contraseña</label>
              <input
                class="form-control"
                type="password"
                id="password"
                formControlName="password"
                placeholder="Introduce la contraseña"
              />
              <div class="error-box">
                @if(checkControl('password', 'required')) {
                <p class="text-danger">La contraseña es obligatoria</p>
                } @else if(checkControl('password', 'minlength')) {
                <p class="text-danger">Debe tener al menos 8 caracteres</p>
                } @else if(checkControl('password', 'maxlength')) {
                <p class="text-danger">No debe exceder de 255 caracteres</p>
                } @else if(checkControl('password', 'pattern')) {
                <p class="text-danger">
                  Debe incluir una mayúscula y un número
                </p>
                }
              </div>
            </div>
            <div class="my-2">
              <label class="form-label" for="repitepassword"
                >Repite Contraseña</label
              >
              <input
                class="form-control"
                type="password"
                id="repitepassword"
                formControlName="repitepassword"
                placeholder="Repite la contraseña"
              />
              <div class="error-box">
                @if(checkControl('repitepassword', 'required')) {
                <p class="text-danger">Debe repetir la contraseña</p>
                } @else if(passFrom.hasError('checkpassword')) {
                <p class="text-danger">Las contraseñas no coinciden</p>
                }
              </div>
            </div>
          </div>

          <!-- Submit -->

          <div class="mt-5 mb-3 text-center">
            <input
              type="submit"
              value="Guardar"
              class="button-primary pointer"
              [disabled]="!passFrom.valid || errorForm.length > 0"
            />
          </div>
        </form>
      </div>
      }
    </section>
  </main>

  <footer class="flex-grow-0">
    <app-footer></app-footer>
  </footer>
</div>
