<div class="container my-4">
  <h2 class="mb-4">Panel de Administración</h2>

  <!-- Secciones -->
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a
        class="nav-link cursor-pointer"
        [class.active]="seccionActual === 'profesores'"
        (click)="cambiarSeccion('profesores')"
        >Profesores</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link cursor-pointer"
        [class.active]="seccionActual === 'alumnos'"
        (click)="cambiarSeccion('alumnos')"
        >Alumnos</a
      >
    </li>
  </ul>

  <!-- Respuesta API -->
  @if (respuestaAPI) {
  <div
    class="alert alert-info mt-3 d-flex justify-content-between align-items-center"
  >
    <span>{{ respuestaAPI }}</span>
    <button
      type="button"
      class="btn btn-close"
      (click)="limpiarMensajeAPI()"
      aria-label="Cerrar"
    ></button>
  </div>
  } @if (seccionActual === 'profesores') {

  <!-- Sección profesores -->
  <div class="mt-4">
    <h3>Profesores</h3>
    <div class="d-flex gap-3 align-items-center mb-3 flex-wrap">
      <div class="filter-container col-12 col-sm-12 col-md-3 col-lg-3">
        <label for="filtroValidacion" class="form-label">Validación:</label>
        <select
          id="filtroValidacion"
          (change)="filtrarProfesores($event)"
          class="form-select filter-select"
        >
          <option value="todos" selected>Todos</option>
          <option value="validados">Validados</option>
          <option value="noValidados">No Validados</option>
        </select>
      </div>
      <div class="filter-container col-12 col-sm-12 col-md-3 col-lg-3">
        <label for="filtroActividad" class="form-label">Actividad:</label>
        <select
          id="filtroActividad"
          (change)="filtrarProfesores($event)"
          class="form-select filter-select"
        >
          <option value="todos" selected>Todos</option>
          <option value="activos">Activos</option>
          <option value="noActivos">No Activos</option>
        </select>
      </div>
      <div class="filter-container col-12 col-sm-12 col-md-3 col-lg-3">
        <label for="buscarProfesor" class="form-label">Buscar por Email:</label>
        <input
          id="buscarProfesor"
          type="text"
          class="filter-select"
          (input)="buscarProfesor($event)"
          placeholder="Introduce email"
        />
      </div>
    </div>

    <div class="desktop-table-p">
      <table class="table table-bordered">
        <thead class="table-light">
          <tr>
            <th>Nombre</th>
            <th>Email</th>
            <th>Teléfono</th>
            <th>Precio Hora</th>
            <th>Localización</th>
            <th>Foto</th>
            <th>Materias</th>
            <th>Activo</th>
            <th>Validado</th>
          </tr>
        </thead>
        <tbody>
          @for (profesor of profesoresPaginados; track profesor.id) {
          <tr>
            <td>{{ profesor.nombre }} {{ profesor.apellidos }}</td>
            <td>{{ profesor.email }}</td>
            <td>{{ profesor.telefono }}</td>
            <td>{{ profesor.precio_hora }}</td>
            <td>{{ profesor.localizacion }}</td>
            <td>
              @if (profesor.foto) {
              <a
                href="javascript:void(0);"
                (click)="abrirFoto(profesor.foto)"
                class="foto-link"
                >Ver Foto</a
              >
              } @else { No disponible }
            </td>
            <td>
              {{
                profesor.id !== undefined &&
                materiasPorProfesor[profesor.id] &&
                materiasPorProfesor[profesor.id].length > 0
                  ? materiasPorProfesor[profesor.id].join(", ")
                  : "No asignadas"
              }}
            </td>
            <td>
              <div class="form-check form-switch">
                <input
                  type="checkbox"
                  class="form-check-input"
                  [checked]="profesor.activo"
                  (change)="
                    profesor.id !== undefined &&
                      cambiarEstadoUsuario(profesor.id, !profesor.activo)
                  "
                />
                <label class="form-check-label">{{
                  profesor.activo ? "On" : "Off"
                }}</label>
              </div>
            </td>
            <td>
              <div class="form-check form-switch">
                <input
                  type="checkbox"
                  class="form-check-input"
                  [checked]="profesor.validado"
                  (change)="
                    profesor.id !== undefined &&
                      cambiarValidacionProfesor(profesor.id, !profesor.validado)
                  "
                />
                <label class="form-check-label">{{
                  profesor.validado ? "On" : "Off"
                }}</label>
              </div>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
    <div class="mobile-cards-p">
      @for (profesor of profesoresPaginados; track profesor.id) {
      <div class="card mb-3 shadow">
        <div class="card-header">
          <h5>{{ profesor.nombre }} {{ profesor.apellidos }}</h5>
        </div>
        <div class="card-body">
          <div><strong>Email:</strong> {{ profesor.email }}</div>
          <div><strong>Teléfono:</strong> {{ profesor.telefono }}</div>
          <div><strong>Precio Hora:</strong> {{ profesor.precio_hora }}</div>
          <div><strong>Localización:</strong> {{ profesor.localizacion }}</div>
          <div>
            <strong>Foto: </strong>
            @if (profesor.foto) {
            <a
              href="javascript:void(0);"
              (click)="abrirFoto(profesor.foto)"
              class="foto-link"
              >Ver Foto</a
            >
            } @else { No disponible }
          </div>
          <div>
            <strong>Materias:</strong>
            {{
              profesor.id !== undefined &&
              materiasPorProfesor[profesor.id] &&
              materiasPorProfesor[profesor.id].length > 0
                ? materiasPorProfesor[profesor.id].join(", ")
                : "No asignadas"
            }}
          </div>
          <div class="mt-3 d-flex flex-column">
            <div class="d-flex">
              <strong class="me-2">Activo:</strong>
              <div class="form-check form-switch">
                <input
                  type="checkbox"
                  class="form-check-input"
                  [checked]="profesor.activo"
                  (change)="
                    profesor.id !== undefined &&
                      cambiarEstadoUsuario(profesor.id, !profesor.activo)
                  "
                />
                <label class="form-check-label">{{
                  profesor.activo ? "On" : "Off"
                }}</label>
              </div>
            </div>
            <div class="d-flex mt-2">
              <strong class="me-2">Validado:</strong>
              <div class="form-check form-switch">
                <input
                  type="checkbox"
                  class="form-check-input"
                  [checked]="profesor.validado"
                  (change)="
                    profesor.id !== undefined &&
                      cambiarValidacionProfesor(profesor.id, !profesor.validado)
                  "
                />
                <label class="form-check-label">{{
                  profesor.validado ? "On" : "Off"
                }}</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      }
    </div>

    <div class="pagination-container">
      <button
        class="pagination-button"
        [disabled]="paginaActual === 1"
        (click)="cambiarPagina(-1)"
      >
        ◀
      </button>
      <span class="pagination-info"
        >Página {{ paginaActual }} de {{ totalPaginas }}</span
      >
      <button
        class="pagination-button"
        [disabled]="paginaActual === totalPaginas"
        (click)="cambiarPagina(1)"
      >
        ▶
      </button>
    </div>
  </div>

  } @if (seccionActual === 'alumnos') {
  <div class="mt-4">
    <!-- Sección alumnos -->
    <h3>Alumnos</h3>
    <div class="d-flex gap-3 align-items-center mb-3 flex-wrap">
      <div class="filter-container col-12 col-sm-12 col-md-4">
        <label for="filtroActividadAlumnos" class="form-label"
          >Actividad:</label
        >
        <select
          id="filtroActividadAlumnos"
          (change)="filtrarAlumnos($event)"
          class="form-select filter-select"
        >
          <option value="todos" selected>Todos</option>
          <option value="activos">Activos</option>
          <option value="noActivos">No Activos</option>
        </select>
      </div>
      <div class="filter-container col-12 col-sm-12 col-md-4">
        <label for="buscarAlumno" class="form-label">Buscar por Email:</label>
        <input
          id="buscarAlumno"
          type="text"
          class="filter-select"
          (input)="buscarAlumno($event)"
          placeholder="Introduce email"
        />
      </div>
    </div>

    <div class="desktop-table">
      <table class="table table-bordered">
        <thead class="table-light">
          <tr>
            <th>Nombre</th>
            <th>Email</th>
            <th>Foto</th>
            <th>Activo</th>
          </tr>
        </thead>
        <tbody>
          @for (alumno of alumnosPaginados; track alumno.id) {
          <tr>
            <td>{{ alumno.nombre }} {{ alumno.apellidos }}</td>
            <td>{{ alumno.email }}</td>
            <td>
              @if (alumno.foto) {
              <a
                href="javascript:void(0);"
                (click)="abrirFoto(alumno.foto)"
                class="foto-link"
                >Ver Foto</a
              >
              } @else { No disponible }
            </td>
            <td>
              <div class="form-check form-switch">
                <input
                  type="checkbox"
                  class="form-check-input"
                  [checked]="alumno.activo"
                  (change)="
                    alumno.id !== undefined &&
                      cambiarEstadoUsuario(alumno.id, !alumno.activo)
                  "
                />
                <label class="form-check-label">{{
                  alumno.activo ? "On" : "Off"
                }}</label>
              </div>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>

    <div class="mobile-cards">
      @for (alumno of alumnosPaginados; track alumno.id) {
      <div class="card mb-2 shadow">
        <div class="card-header">
          <h5>{{ alumno.nombre }} {{ alumno.apellidos }}</h5>
        </div>
        <div class="card-body">
          <div><strong>Email: </strong> {{ alumno.email }}</div>
          <div>
            <strong>Foto: </strong>
            @if (alumno.foto) {
            <a
              href="javascript:void(0);"
              (click)="abrirFoto(alumno.foto)"
              class="foto-link"
              >Ver Foto</a
            >
            } @else { No disponible }
          </div>
          <div class="d-flex mt-2">
            <strong class="me-2">Activo:</strong>
            <div class="form-check form-switch">
              <input
                type="checkbox"
                class="form-check-input"
                [checked]="alumno.activo"
                (change)="
                  alumno.id !== undefined &&
                    cambiarEstadoUsuario(alumno.id, !alumno.activo)
                "
              />
              <label class="form-check-label">{{
                alumno.activo ? "On" : "Off"
              }}</label>
            </div>
          </div>
        </div>
      </div>
      }
    </div>

    <!-- Paginación -->
    <div class="pagination-container">
      <button
        class="pagination-button"
        [disabled]="paginaActual === 1"
        (click)="cambiarPagina(-1)"
      >
        ◀
      </button>
      <span class="pagination-info"
        >Página {{ paginaActual }} de {{ totalPaginas }}</span
      >
      <button
        class="pagination-button"
        [disabled]="paginaActual === totalPaginas"
        (click)="cambiarPagina(1)"
      >
        ▶
      </button>
    </div>
  </div>

  }
  <!-- Modal -->
  <div
    class="modal-backdrop"
    [hidden]="!mostrarModalFoto"
    (click)="cerrarModalFoto()"
  >
    <div class="modal-content" (click)="$event.stopPropagation()">
      <button class="modal-close" (click)="cerrarModalFoto()">×</button>
      <img
        [src]="fotoSeleccionada"
        alt="Foto Seleccionada"
        class="modal-image"
      />
    </div>
  </div>
</div>
