<div class="container-homepopup">
  <div class="introduction-professor">
    <div
      class="available"
      [ngClass]="{ active: myProfesor.activo, inactive: !myProfesor.activo }"
    >
      {{ myProfesor.activo ? "DISPONIBLE" : "NO DISPONIBLE" }}
    </div>
    <div class="section-img-info">
      <img
        *ngIf="myProfesor.foto"
        class="img-prof rounded-circle"
        [src]="
          myProfesor.foto
            ? URLAPI + myProfesor.foto
            : '/img/no_profile_freepick.webp'
        "
        [alt]="myProfesor.nombre"
      />
      <div class="info">
        <h1>
          {{ myProfesor.nombre }} {{ myProfesor.apellidos }}
          <img
            class="verified"
            src="https://cdn3.emoji.gg/emojis/1178-verified.png"
            alt="Check Icon"
            style="
              display: inline;
              width: 20px;
              height: 20px;
              vertical-align: middle;
            "
          />
        </h1>
        <div class="subject" *ngFor="let materia of myProfesor.materia">
          Profesor de {{ materia }}
        </div>
        <div class="price">Precio por hora: {{ myProfesor.precio_hora }}€</div>
        <div class="experience">
          {{ myProfesor.meses_experiencia }} meses de experiencia
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <h2>Sobre mí</h2>
    <p class="sobre_mi__paragraph">
      {{
        myProfesor.sobre_mi
          ? myProfesor.sobre_mi
          : "Aún no hay información en esta sección"
      }}
    </p>
  </div>
  <div class="section">
    <div class="opiniones-container">
      <h2>Opiniones</h2>
      <div class="opinions">
        <!-- Comprobamos si hay opiniones -->
        <div *ngIf="opinionesProfesor.length > 0; else noOpiniones">
          <!-- Iteramos sobre cada opinión -->
          <div *ngFor="let opinion of opinionesProfesor" class="opinion">
            <div class="opinion-header">
              <div>
                <div class="opinion-name">
                  {{
                    opinion.estudiante_nombre ||
                      "No hay opiniones disponibles para este profesor"
                  }}
                </div>

                <span class="rating">
                  <i
                    class="fas fa-star"
                    *ngFor="
                      let _ of [].constructor(opinion.puntuacion || 0);
                      let i = index
                    "
                    [style.color]="
                      i < opinion.puntuacion ? 'var(--color-button1)' : '#ccc'
                    "
                  >
                  </i>
                </span>

                <span class="opinion-time">
                  {{ opinion.fecha ? (opinion.fecha | date : "short") : "" }}
                </span>
              </div>
            </div>

            <p>
              <strong>Comentario:</strong>
              {{ opinion.comentario || "" }}
            </p>
          </div>
        </div>

        <!-- Mensaje si no hay opiniones -->
        <ng-template #noOpiniones>
          <p>No hay opiniones disponibles para este profesor.</p>
        </ng-template>
      </div>
    </div>
    <div class="buttons">
      <button class="button-close" (click)="cerrar()">Cerrar</button>

      <button class="button-register" id="button-register" (click)="redirect()">
        @if(login){ ¡Apúntate a a su clase! } @else { ¡Regístrate para
        contactar! }
      </button>
    </div>
  </div>
</div>
